body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
}

.vizContent{
	position: absolute;
	left: 0;
	top: 5%;
	width: 100%;
	height: 95%;
}

.vizTitle{
	position: absolute;
	left: 0;
	top: 0%;
	width: 100%;
	height: 5%;
	text-align: center;
	/*font-size: 32px;*/
	font-size: 3vmin;
	font-weight: bold;
	margin-top: 25px;
	line-height: 0;
}

.container {
    width:1300px;
}


.titleView {
    position: absolute;
    width: 24%;
		height: 6%;
		left: 75%;
		top: 54%;
		padding: 0;

		box-sizing: border-box;

		overflow-x: hidden;
		overflow-y: scroll;
}
#title1{ /* star */
    position: absolute;
    top: 3%;
		left: -4%;
    width: 30%;
    height: 5%;
		font-size: 2vmin;
    text-align: center;
    line-height: 0;
}
#title2{ /* survival */
    position: absolute;
		left: 38%;
    top: 50%;
    width: 30%;
    height: 5%;
		font-size: 2vmin;
    text-align: center;
    line-height: 0;
}
#title3{ /* mosaic */
    position: absolute;
		left: 75%;
    top: 50%;
    width: 22%;
    height: 5%;
		font-size: 2vmin;
    text-align: center;
    line-height: 0;
}
#title4{ /* nomogram */
    position: absolute;
    top: 3%;
		left: 25%;
    width: 75%;
    height: 5%;
		font-size: 2vmin;
    text-align: center;
		line-height: 0;
}
#title4-checkbox{
	position: absolute;
	top: 6%;
	left: 20%;
	width: 80%;
	height: 5%;
	text-align: center;
}

#title4 input {
	width: 1.5vmin;
	height: 1.5vmin;
}
/*********/

/* star */
.rightDiv, #chart3{
    position: absolute;
    /*left: 70%;*/
		left: -2%;
    top: 10%;
    width: 30%;
    height: 84%;
    text-align: center;
		/*background-color: pink;*/
}

/* survival */
.centerDiv, #chart2 {
    position: absolute;
		left: 38%;
    top: 55%;
    width: 30%;
    height: 40%;
		/*background-color: orange;*/
}

/* mosaic */
.leftDiv, #chart1 {
    position: absolute;
		left: 74%;
    top: 62%;
    width: 26%;
    height: 32%;
		/*background-color: orange;*/
}

/* nomogram */
.bottomDiv {
    position: absolute;
    top: 10%; /* 72%; */
		left: 41%; /*16%;*/
    width: 59%;
    height: 35%;
		/*background-color: orange;*/
}
#chart4 {
    position: absolute;
    font-family: sans-serif;
    font-size: 10px;
}
#parallelChartForKNN{
    position: absolute;
    font-family: sans-serif;
    font-size: 10px;
}

#helpArrow,
#helpArrow-Star,
#helpArrow-Nomogram,
#helpArrow-Survival,
#helpArrow-Mosaic {
	position: absolute;
	left: 0%;
	top: 0%;
}

.nomogramLegend{
	position: absolute;
  left:80%;
  top: 12%;
  height: 10%;
  width: 10%;
  /*background-color: pink;*/
}

.radiobuttonFilters{
	display: inline-block;

  /*position: absolute;*/
  /*left:27%; /* 1% -> 21% **/
  /*top: 12%;  /* 77% **/
  /*height: 25%;*/
  /*width: 2%;*/
  /*background-color: orange;*/
}

.checkboxFilters{
	display: inline-block;

  /*position: absolute;*/
	/*left:29%;*/
	/*top: 12%;*/
	/*height: 25%;*/
	/*width: 10%;*/
  /*background-color: lightblue;*/
}

.buttonWrapper {
	position: absolute;
	left:27%;
	top: 12%;
}

.radioCheckbox input {
	width: 1.5vmin;
	height: 1.5vmin;
}

.selectButtonWrapper input {
	width: 6vmin;
	height: 2.2vmin;

	font-size: 1.5vmin;
	text-align: center;

	padding: 0;
}

label {
  /*display: inline-block;*/
	font-size: 1.4vmin;
}

.sliders {
	position: absolute;

	top: 12%;
	left: 38%;

	width: 3%;
	height: 28%;

	/*background-color: lightblue;*/
  /*white-space: nowrap;*/
}

.w3-table {
	position: relative;
	width: 100%;
	height: 100%;

	padding: 0px;
	margin: 0px;
}

td {
	width: 33%;
}

.domainSlider{
  /*position: absolute;
  left: 38%;
  top: 12%;
  width: 1%;
  height: 30%;*/
  /*background-color: orange;*/

	display: inline-block;
	float:left;
	width: 33%;
  /*white-space: normal;*/
}

.linkSlider{
  /*position: absolute;
  left: 39%;
  top: 12%;
  width: 1%;
  height: 30%;*/
  /*background-color: lightblue;*/

	display: inline-block;
	float:left;
	width: 34%;
  /*white-space: normal;*/
}

.rangeSlider{
  /*position: absolute;
  left: 40%;
  top: 12%;
  width: 1%;
  height: 30%;*/
  /*background-color: lightgreen;*/

	display: inline-block;
	float:left;
	width: 33%;
  /*white-space: normal;*/
}

.axis--grid .domain {
  fill: #cccccc;
  stroke: none;
}

.axis--x .domain,
.axis--y .domain,
.axis--grid .tick line {
  stroke: #cccccc;
}


.fa {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	color: gray;
}

.randomTooltip {
	position: absolute;
	display: none;

	padding: 0.5vmin;

	font-size: 1.5vmin;
	text-align: center;

	pointer-events: none;

	border-radius: 0.3vmin;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
#tooltip{
    font-family: sans-serif;
    /*font-size: 14px;*/
		font-size: 1.5vmin;
    font-weight: bold;
    color:black;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
}

.frame {
    fill: none;
    stroke: #aaa;
}

circle {
    fill-opacity: .7;
}

.d3-tip:after {
    box-sizing: border-box;
    /*font-size: 10px;*/
		font-size: 1.5vmin;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;

		padding: 0.5vmin;

		font-size: 1.5vmin;

		border-radius: 0.3vmin;
		color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.titleDiv {
	width: 100%;
	height: 10%;
	text-align: center;
	background: #BDECB6;
	border-radius: 25px;
}

.titleText{
	font-size: 5vmin;
	line-height: 10vmin;
	font-weight: bold;
}

.subTitleText{
	font-size: 3vmin;
	line-height: 6vmin;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0;
}

.fullDiv{
    position: absolute;
    left: 0;
    top: 0;
	height: 100%;
	width: 100%;
}

.mainDiv {
	width: 100%;
	height: 90%;
}

.enterDiv {
	position: absolute;
	left: 33%;
	top: 12%;
	width: 30%;
	height: 84%;
	text-align: center;
}

.mainContainerDiv {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.center-vertical {
	position: absolute;
	top: 25%;
	height: 50%;
	left: 0;
	width: 100%;
}

.double-button-div {
	position: absolute;
	top:5%;
	left : 5%;
	height:90%;
	width: 90%;
	border-radius: 15px;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	border: 1px solid #37373c;
	background-color: #FFFFFF;
	overflow: hidden;
	margin: 1% 1%;
}

.double-button-inside-left-div {
	position: absolute;
	top:0;
	left : 0;
	height:100%;
	width: 50%;
	border-radius: 15px;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	border-right: 0px solid #37373c;
	background-color: #FFFFFF;
	overflow: hidden;
	text-align: center;
}

.double-button-inside-right-div {
	position: absolute;
	top:0;
	left : 50%;
	height:100%;
	width: 50%;
	border-radius: 15px;
	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	border-left: 0px solid #37373c;
	background-color: #FFFFFF;
	overflow: hidden;
	text-align: center;
}

.double-button-selected {
	background-color: #DDDDDD;
	/*box-shadow: inset 0 0 0 1px rgba(108, 48, 0, 0.92),inset 0 5px 30px rgba(108, 48, 0, 0.92);*/
}

.double-button-centered {
	position: absolute;
	left: 40%;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	height: 5%;
}

.headSpace{
	height: 8%;
}

.plainListDiv {
	position: absolute;
	top:8%;
	left: 20%;
	width: 60%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.enterForm {
	position: absolute;
	top: 8%;
	padding-right: 3%;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.exploreFormDiv {
	position: absolute;
	top: 8%;
	padding-right: 3%;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
}

.imgDiv {
	position: absolute;
	top:8%;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
}

.axisText{
	text-anchor: middle;
	font-family: arial;
}

.axisText.y{
	text-anchor: end;
	dominant-baseline: middle;
}

.MosaicSliderBar{
	fill: #cccccc;
}

.MosaicSliderHandle{
	fill: #666666;
}

.sliderText{
	dominant-baseline: middle;
}

.mosaicSVGContainer{
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
}

.mosaicListContainer{
	position: absolute;
	left: 0%;
	height: 100%;
	width: 0%;
}

.mosaicListElement{
	font-family: arial;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	width: 90%;
	left: 5%;
	border: solid 1px black;
}

.mosaicListElement:hover{
	background-color: lightblue;
}

.mosaicBackButtonDiv{
    position: absolute;
    left: 4%;
    margin-left: 10px;
		top: -4%;
    height: 13%;
    width: 10%;
    text-align: center;
    background-color: #bbbbbb;
}

.kaplanLine {
	opacity: 0.7;
}

.kaplanBox{
	opacity: 0.4;
}

.kaplanLegendDiv{
	position: absolute;
	top: 0;
	left: 80%;
	width: 25%;
	white-space: nowrap;

	font-size: 1.4vmin;
}

.kaplanChooserDiv{
	position: absolute;
	top: 0;
	left: 40%;
	width: 20%;
}

.color-box{
	/*width: 10px;
	height: 10px;
	margin-left: 3px;*/
	display: inline-block;

	width: 1.2vmin;
	height: 1.2vmin;
	margin-left: 0.6vmin;
}

.filterTitle{
	display: inline-block;
	margin: 2px;
	margin-left: 10px;
	border-radius: 5px;
	padding: 5px;
	/*background-color: #0089e0;*/
  background-color: #a6a6a6;
	/*color: #fff;*/
	color: black;
	font-size: 1vmin;
	cursor: pointer;
	float: left;
}

.starPlotAxis{
    stroke-width: 10;
    stroke: rgba(1, 1, 1, 0.1);
}

.knnContent{
    position: absolute;
    top:5%;
    width: 50%;
    height: 95%;
    left: 50%;
}

.knnHeader{
    position: absolute;
    top:0%;
    left: 20%;

		width: 40%;
		/*height: 2vmin;*/
}

.knnHeaderList{
    position: absolute;
    top:40%;
		left: 0;

    width: 50%;
    height: 20%;

		/*width: 5vmin;
		height: 2vmin;*/

    text-align: right;
}

.knnHeaderElem{
    position: absolute;
    top:10%;
		left: 10%;

    width: 100%;
    height: 19%;

    font-size: 120%;
}

select, option {
	width: 8vmin;
	height: 2vmin;

	font-size: 1.3vmin;
}

.knnLegendDiv{
    position: absolute;
    top:0%;
    width: 40%;
    height: 100%;
    left: 10%;
}

.listEl{
	cursor: ns-resize;
}

.starPlotPath{
    stroke: black;
    fill: orange;
}
